@model List<MemberViewModel>

@foreach (MemberViewModel memberViewModel in Model)
{
    <ul>
        <li>@memberViewModel.MemberFullName</li>
        @foreach (var item in memberViewModel.BooksAndAuthors)
        {
            <li>@item.Key @item.Value</li>
        }
        @foreach (DateTime date in memberViewModel.Reservations)
        {
            <li>@date</li>
        }
    </ul>
}