@model List<BookListViewModel>

<h3>Books:</h3>
<br />
<br />
<br />
<div class="row">
    @foreach (BookListViewModel book in Model)
    {
        <div class="card border-success mb-3" style="max-width: 18rem; margin-left: 10px;">
            <div class="card-body text-success">
                <h5 class="card-title">@book.Title</h5>
                <button type="button" class="btn btn-success"><a asp-action="Details" asp-route-id="@book.Id">View book details</a></button>
            </div>
        </div>
    }
</div>
<button type="button" class="btn btn-warning"><a asp-action="Create">Create a new book</a></button>
