@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Get your book reservations here and now.</p>
    <h3>Made by Bojan Damchevski</h3>
    <h5>We have @ViewBag.NumberOfBooks books</h5>
    <small>from</small>
    <h5>@ViewBag.NumberOfAuthors authors</h5>
    <small>and</small>
    <h5>we have @ViewBag.NumberOfMembers members</h5>
    <small>till now !</small>
</div>
