<h2>List of orders</h2>
<button>
    <a asp-area="" asp-controller="Orders" asp-action="JsonReturn">Json View</a>
</button>
<button>
    <a asp-area="" asp-controller="Orders" asp-action="Details">Details</a>
</button>
<small>
    <button>
        <a asp-area="" asp-controller="Orders" asp-action="RedirectToHome">Go back to the homepage</a>
    </button>
</small>